
// Template

html {
    background-image: url(/img/bg.jpg);
}
body {
    color: $color-black;  
    @include affix(){
        padding-top: 64px;
    }
}


%fullWidthSection {
    float: left;
    width: 100%;
    margin: 0 auto;
}
%gridLock {
    @extend %fullWidthSection;
    padding: $space/2 -moz-calc(50% -  490px);
    padding: $space/2 -o-calc(50% -  490px);
    padding: $space/2 -webkit-calc(50% -  490px);
    padding: $space/2 calc(50% - 490px);
}
%largeLock {
    @extend %fullWidthSection;
    padding: $space/2 -moz-calc(50% -  600px);
    padding: $space/2 -o-calc(50% -  600px);
    padding: $space/2 -webkit-calc(50% -  600px);
    padding: $space/2 calc(50% - 600px);
}
.fullBar {
    @extend %largeLock;
    @media (max-width: 1200px) {
        padding:5px 0;
    }
}
.gridBar {
    @extend %gridLock;
    @media (max-width: 980px) {
        padding:5px 0;
    }
}

%header_link {
    padding: 0 $space/2;
    font-size: 1.5em;
    line-height: 64px;
    display: inline-block;
    float: left;
    &:hover {
        color: $color-white;
        background-color: lighten($mainColor, 10%);
    }
}
.header {
    @extend .flush-full, .affix;
    top: 0;
    height: 64px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    background-color: $color-white;
    &_logo {
        width: 230px;
        display: block;
        float: left;
        background-size: 200px;
        background-image: url(/img/logo.svg) !important;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
            background-color: none !important;
        }
    }
    &_nav {
        > a {
            @extend %header_link;
        }
    }
    &_settings {
        > a {
            &:last-child {
                @extend %header_link, %header_link:hover, .fr;
                &:hover {
                    background-color: $dkMainColor;
                }
            }
        }
    }
}