@charset "utf-8";


//Global Vars   
$prefix: '.';
$space: 40px; 
$verticalBlock: 48px;   

$baseFontSize: 17px;
$baseLineHeight: 1.4em; 
$baseFontFamily: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
$headerFontFamily: $baseFontFamily;
  
// Colors
$mainColor: #FF6700;
$dkMainColor: #C55000; 
 
$subColor: #104BA9;  

$link-color: #C55000;
  
// Define fonts 
@import "partials/font/comedicon"; 

// Base styles 
@import "partials/base"; 
 

// @import "typography"; 
// @import "partials/backgroundColor"; 

//Element partials. Order doesn't matter.
 @import "partials/form";  
 @import "partials/button";

//Specific template
@import "template";
