<div ng-include="'/html/sub-header.html'"></div>

<form ng-submit="saveSite(site)" style="max-width: 980px">
  <label for="title" class="grid-full">
    <input type="text" id="title" ng-model="site.title" placeholder="Title" maxlength="60" required>
    <span>Default Title ({{60 - site.title.length}} characters left)</span>
  </label>
  <label for="description" class="grid-half">
    <textarea id="description" ng-model="site.description" placeholder="Description" rows="5" maxlength="160" required></textarea>
    <span>Default Description ({{160- site.description.length}} characters left)</span>
  </label>
  <label for="email" class="grid-half">
    <input type="email" ng-model="site.contact.email" placeholder="you@example.com" required>
    <span>Contact Email</span>
  </label>
  <label for="email">
    <input type="tel" ng-model="site.contact.phone" placeholder="XXX-XXX-XXXX" required>
    <span>Contact Phone</span>
  </label>
  <label for="host">
    <input type="text" id="host" ng-model="site.host" placeholder="Host" required>
    <span>Host</span>
  </label>

  <div ng-show="isAdmin">
    <h3 class="grid-full">Admin Only</h3>
    <label for="repo" class="grid-half">
      <input type="text" id="repo" ng-model="site.repo" placholder="git@bitbucket.org:omniorders/<repository-name>.git" required>
      <span>Repository URL (SSH-only)</span>
    </label>
    <label for="analytics">
      <input type="text" ng-model="site.analytics" placeholder="UA-XXXXXXXX-X" required>
      <span>Analytics</span>
    </label>

    <h3 class="grid-full">Stylesheets</h3>
    <label for="styles{{$index}}" ng-repeat="style in site.styles" class="grid-full">
      <input type="text" id="styles{{$index}}" ng-model="style.value" placeholder="Stylesheet" ng-blur="site.styles = formatArray(site.styles)">
      <span></span>
    </label>

    <h3 class="grid-full">Scripts</h3>
    <label for="scripts{{$index}}" ng-repeat="script in site.scripts" class="grid-full">
      <input type="text" id="scripts{{$index}}" ng-model="script.value" placeholder="Script" ng-blur="site.scripts = formatArray(site.scripts)">
      <span></span>
    </label>
  </div>
  <div class="form-actions">
    <button>Save</button><a ui-sref="sites" class="btn gray">Back</a>
  </div>
</form>
