<div ng-include="'/html/sub-header.html'"></div>

<form ng-submit="saveSite(site)" style="max-width: 980px">
  <label for="title" class="grid-full">
    <input type="text" id="title" ng-model="site.title" placeholder="Title" required>
    <span>Default Title ({{60 - site.title.length}} characters left)</span>
  </label>
  <label for="description" class="grid-half">
    <textarea id="description" ng-model="site.description" placeholder="Description" rows="5" required></textarea>
    <span>Default Description ({{160 - site.description.length}} characters left)</span>
  </label>
  <label for="email" class="grid-half">
    <input type="email" ng-model="site.contact.email" placeholder="you@example.com" required>
    <span>Contact Email</span>
  </label>
  <label for="email">
    <input type="tel" ng-model="site.contact.phone" placeholder="XXX-XXX-XXXX" required>
    <span>Contact Phone</span>
  </label>

  <div ng-show="isAdmin">
    <h3 class="grid-full">Admin Only</h3>
    <label for="repo" class="grid-half">
      <input type="text" id="repo" ng-model="site.repo" placholder="git@bitbucket.org:omniorders/<repository-name>.git" required>
      <span>Repository URL (SSH-only)</span>
    </label>
    <label for="analytics">
      <input type="text" ng-model="site.analytics" placeholder="UA-XXXXXXXX-X" required>
      <span>Analytics</span>
    </label>


    <label for="analytics">
      <input type="text" ng-model="site.isSinglePageApp" placeholder="false" required>
      <span>Is SPA</span>
    </label>

    <label for="type">
      <input type="text" id="type" ng-model="site.type" required>
      <span>Type</span>
    </label>
    <label for="host">
      <input type="text" id="host" ng-model="site.host" placeholder="Host" required>
      <span>Host</span>
    </label>

    <div class="grid-full"></div>

    <label for="styles" class="grid-half">
      <textarea id="styles" ng-model="site.styles" placeholder="Stylesheet" rows="7" style="white-space: nowrap;"></textarea>
      <span>Styles <small>(One per line)</small></span>
    </label>

    <label for="scripts" class="grid-half">
      <textarea id="scripts" ng-model="site.scripts" placeholder="Script" rows="7" style="white-space: nowrap;"></textarea>
      <span>Scripts <small>(One per line)</small></span>
    </label>
  </div>
  <div class="form-actions">
    <button>Save</button><a ui-sref="sites" class="btn gray">Back</a>
  </div>
</form>
