<div ng-include="'/html/sub-header.html'"></div>

<table class="flush-full tabular">
    <tbody>
        <tr ng-repeat="site in list">
            <td>
                {{site.title}}
            </td>
            <td>
                {{site.host}}
            </td>
            <td>
                {{site.type}}
            </td>
            <td>
                <a ui-sref="siteEdit({id: site.id})" class="btn mini">Edit</a>
                <a ng-click="remove(site)" class="btn mini">Delete</a>
            </td>
        </tr>
        <tr ng-show="!list.length">
            <td colspan="4">
                No sites yet. <a ui-sref="siteEdit({id: 'new'})">Click here to create one!</a>
            </td>
        </tr>
    </tbody>
</table>
