<div ng-include="'/html/sub-header.html'"></div>

<table class="grid-full tabular">
    <tbody>
        <tr ng-repeat="site in list">
            <td>
                {{site.title}}
            </td>
            <td>
                {{site.host}}
            </td>
            <td>
                {{site.type}}
            </td>
            <td>
                <a ui-sref="siteEdit({id: site.id})" class="btn mini">Edit</a>
                <a ng-click="remove(site)" class="btn mini">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
