<div ng-include="'/html/sub-header.html'"></div>

<form ng-submit="save()" class="grid-full">

  <label for="name" class="grid-half">
    <input type="text" ng-model="subscriber.name" disabled>
    <span>Name</span>
  </label>

  <label for="email" class="grid-half">
    <input type="email" id="email" ng-model="subscriber.email" disabled>
    <span>Email Address</span>
  </label>

  <label for="zip" class="grid-half">
    <input type="text" id="zip" ng-model="subscriber.zip" disabled>
    <span>Zip</span>
  </label>

  <label for="status" class="grid-half">
    <select id="status" ng-model="subscriber.status">
      <option value="S">Subscribed</option>
      <option value="U">Unsubscribed</option>
      <option value="B">Bounced</option>
    </select>
    <span>Status</span>
  </label>

  <div class="form-actions">
    <button>Save</button><a ui-sref="subscribers" class="btn gray">Cancel</a>
  </div>
</form>
