<div ng-include="'/html/sub-header.html'"></div>

<form name="entertainer-form" ng-submit="saveEntertainer(entertainer)" novalidate entertainers>
	<label for="name" class="grid-half">
		<input type="text" id="name" ng-model="entertainer.name" required="true">
		<span>Name</span>
	</label>
	<label for="facebook" class="grid-half">
		<input type="text" id="facebook" ng-model="entertainer.facebook" required="true">
		<span>Facebook</span>
	</label>
	<label for="website" class="grid-half">
		<input type="text" id="website" ng-model="entertainer.website">
		<span>Website</span>
	</label>
	<label for="credits" class="grid-full">
		<input type="text" id="credits" ng-model="entertainer.credits" required="true">
		<span>Credits</span>
	</label>
	<label for="description" class="grid-full">
		<textarea id="description" ng-model="entertainer.description" required="true" rows="7"></textarea>
		<span>Bio</span>
	</label>
	<label for="link" class="grid-full">
		<input type="text" id="link" ng-model="entertainer.link" required="true">
		<span>Link</span>
	</label>

	<div class="form-actions">
		<button>Save</button>
		<a ui-sref="entertainers" class="btn gray">Back</a>
	</div>
</form>
