<div ng-include="'/html/sub-header.html'"></div>

<table class="flush-full tabular">
	<tbody entertainers>
		<tr ng-repeat="entertainer in list | orderBy:'name'">
			<td>
				{{entertainer.name}}
			</td>
			<td>
				<a ui-sref="entertainerEdit({id: entertainer.id})" class="btn mini">✎</a>
				<a ng-click="remove(entertainer)" class="btn mini">✖</a>
			</td>
		</tr>
		<tr ng-show="!list.length">
			<td colspan="2">
				No entertainers yet. <a ui-sref="entertainerEdit({id: 'new'})">Click here to create one!</a>
			</td>
		</tr>
	</tbody>
</table>


<ui-view class="grid-12"></ui-view>
