@charset "utf-8";


//Global Vars
$prefix: '.';
$space: 40px;
$verticalBlock: 48px;

$baseFontSize: 17px;
$baseLineHeight: 1.4em;
$baseFontFamily: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
$headerFontFamily: $baseFontFamily;

// Colors
$color-primary: #FF6700;
$dkMainColor: #C55000;

$color-secondary: #104BA9;

$link-color: #C55000;
@import "icon";
@import "/www/global/scss/core/variables/color";
@import "/www/global/scss/core/helper";
@import "/www/global/scss/core/grid";
@import "/www/global/scss/core/typography";

@mixin print(){
	@media print {
		@content;
	}
}

// Define fonts
// @import "/www/global/scss/font/comedicon";

// Base styles
@import "/www/global/scss/core/base";


// @import "typography";
// @import "partials/backgroundColor";

//Element partials. Order doesn't matter.
 @import "/www/global/scss/components/forms/form";
 @import "/www/global/scss/components/buttons/button";

//Specific template
@import "icon";
@import "template";
