<div ng-include="'/html/sub-header.html'"></div>

<table class="flush-full tabular">
	<tbody media>
		<tr ng-repeat="venue in list">
			<td>
				{{venue.name}}
			</td>
			<td>
				{{venue.address.street}}<br>
				{{venue.address.city}} {{venue.address.state}}, {{venue.address.zip}}
			</td>
			<td>
				<a ui-sref="venueEdit({id: venue.id})" class="btn mini">Edit</a>
				<a ng-click="delete(venue)" class="btn mini">Delete</a>
			</td>
		</tr>
		<tr ng-show="!list.length">
			<td colspan="3">
				No venues yet. <a ui-sref="venueEdit({id: 'new'})">Click here to create one!</a>
			</td>
		</tr>
	</tbody>
</table>
