<style>
.typeahead {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 999;
    width: 100%;
   }
   .typeahead > li > a {
       display: block;
       width: 100%;
       float: left;
      }
      .typeahead > li {
          width: 100%;
          list-style-type: none;
          background: #f0f0f0;
          border-bottom: solid 1px #999;
          border-top: solid 1px #333;
          min-height: 52px;
          line-height: 42px;
          float: left;
         }
         .typeahead > li:hover {
             background: #fbfbfb;
            }
</style>
<h1>Add/Edit Event</h1>
<pre class="grid-full">
{{event | json}}
</pre>
<form name="eventForm" ng-submit="save()" class="flex" novalidate>
    <h3>Venue</h3>
    <label for="title" class="grid-full">
        <input type="text" id="venue" ng-model="event.venue" placeholder="Venue" typeahead="venue as venue.name for venue in getVenues()" typeahead-template-url="/html/venue/typeahead.html" required>
        <span data-errormessage="You must enter a venue for the event"></span>
    </label>
   
  
    <div id="showtimes" class="flush-full">
        <h3 class="c">Showtimes</h3>
        <div class="showtime" ng-repeat="showtime in event.showtimes">
            <label for="date">
                <input type="text" id="date" class="stDate" ng-model="showtime.date" placeholder="Date">
            </label>
            <label for="time">
                <input type="text" id="time" ng-model="showtime.time" placeholder="Time" required>
            </label>
        </div>


        <label for="eventLink" class="grid-full">
            <input type="url" name="link" ng-model="event.link" id="eventLink" />
            <span>Link</span>
        </label>

        <div class="fr m">
            <a class="btn" ng-click="addShow()">Add show</a>
            <a class="btn">Remove show</a>
            <button type="submit" class="btn">Save</button>
            <button type="submit" class="btn">Save & Next</button>
        </div>
</form>


<script>
//         $(function(){
//             $(document).on('keyup keypress','#customTitle',function(){
//                 $('.entertainerEvent').remove();
//             }).on('change keypress keyup keydown','.showtime .stDate, .showtime .stTime',function(){
//                 var $parent = $(this).parents('.showtime'), $date = $parent.find('.stDate'), $time = $parent.find('.stTime'), $datetime = $parent.find('.datetime');
//                 $datetime.val($date.val() + ' ' + $time.val());
//                 console.log($datetime.val(), new Date($datetime.val()));
//             }).on('click','#addShowtime',function(){
//                 $(this).before($('#showtimes .showtime').first().clone());
//                 return false;
//             });
//             var showtimeCount = 0;
//         // $('.showtime').each(function(){
//         //     var name = 'showtime'+(++showtimeCount);
//         //     $(this).attr({name: name, id: name}).removeClass('showtime').parent('label').attr('for',name);
//         // });
// $.getJSON('/api/entertainers').success(function(entertainers){
//     var entertainerNames = [], entertainerMap = {};
//     $.each(entertainers,function(i,entertainer){
//         entertainer.credits = (entertainer.credits||'').replace(/[^a-z0-9-, ]/gi,'');
//         if(entertainer.name) entertainerNames.push(entertainer.name);
//         entertainerMap[entertainer.slug] = entertainer;
//     });

//     $('#entertainer').typeahead({
//         source:entertainerNames,
//         highlighter:function(name){
//             var item = entertainerMap[slugify(name)];
//             if(!item)return'';
//             var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g,'\\$&')
//             return '<img src="/media/entertainer/'+item.slug+'/thumb.jpg" class="grid-4"><span class="grid-16">'+item.name.replace(new RegExp('('+query+')','ig'),function($1,match){
//                 return '<u>'+match+'</u>'
//             })+'</span>';
//         },
//         updater:function(name){
//             $('.customEvent').remove();
//             var item = entertainerMap[slugify(name)];
//             $('#entertainerId').val(item.id);
//             $('#entertainerSlot').find('img').attr('src','/media/entertainer/'+item.slug+'/thumb.jpg');
//             $('#entertainerSlot').find('h2').text(item.name);
//             $('#entertainerSlot').find('h4').text(item.credits||item.description);
//             return item.name;
//         }
//     });
// });

// });
</script>
