@charset "utf-8";


//Global Vars
$prefix: '.';
$space: 40px;
$verticalBlock: 48px;
$input-height: 36px;

$baseFontSize: 17px;
$baseLineHeight: 1.4em;
$baseFontFamily: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
$headerFontFamily: $baseFontFamily;

// Colors
$color-primary: #FF6700;
$color-primary-lt: lighten($color-primary, 20%);
$color-primary-dk: darken($color-primary, 20%);
$dkMainColor: #C55000;

$color-secondary: #104BA9;

$link-color: #C55000;
@import "icon";
@import "core/variables/color";
@import "core/helper";
@import "core/grid";
@import "core/typography";

@mixin print(){
	@media print {
		@content;
	}
}

// Define fonts
// @import "font/comedicon";

// Base styles
@import "core/base";


// @import "typography";
// @import "partials/backgroundColor";

//Element partials. Order doesn't matter.
 @import "core/form";
 @import "components/buttons/button";

//Specific template
@import "mixins";
@import "icon";
@import "template";
