<div ng-include="'/html/sub-header.html'"></div>
<div>
  <p class="grid-full">This message was originally sent on: {{contactmessage.id | idToDate | date:"MMMM dd, yyyy 'at' hh:mm a"}}</p>
  <label for="name" class="grid-third">
    <input type="text" id="name" ng-model="contactmessage.name" disabled="true">
    <span>Name</span>
  </label>
  <label for="email" class="grid-third">
    <input type="text" id="email" ng-model="contactmessage.email" disabled="true">
    <span>Email</span>
  </label>
  <label for="phone" class="grid-third">
    <input type="text" id="phone" ng-model="contactmessage.phone" disabled="true">
    <span>Phone</span>
  </label>
  <label for="message" class="grid-full">
    <textarea id="message" ng-model="contactmessage.body" disabled="true" rows="20"></textarea>
    <span>Message</span>
  </label>
</div>
  <div class="form-actions">
    <a ui-sref="contactMessages" class="btn orange">Back To List</a>
  </div>
