<div ng-include="'/html/sub-header.html'"></div>

  <form name="post-form" ng-submit="savePost(post)" novalidate posts>
	<label for="name">
		<input type="text" id="name" ng-model="post.title" required="true">
		<span>Name</span>
	</label>
	<label for="publishedDate">
		<input type="date" id="publishedDate" ng-model="post.publishedDate">
		<span>Searchable</span>
	</label>
	<label for="description" class="grid-full">
		<textarea id="description" ng-model="post.description" rows="5"></textarea>
		<span class="icon-left-circle">Description</span>
	</label>
	<label for="content" class="grid-full">
		<textarea id="content" ng-model="post.content" rows="20"></textarea>
		<span>Content</span>
	</label>
	<label for="type">
		<select ng-model="post.format" id="type" required>
			<option value=""> --- Select a type --- </option>
			<option value="html">HTML</option>
			<option value="markdown">MarkDown</option>
		</select>
		<span>Type</span>
	</label>

  <div class="form-actions">
    <button>Save</button><a href="/posts" class="btn gray">Cancel</a>
  </div>
</form>
