<div>
	<h1>Media</h1>
	<div class="m">
		<a href="/medium" class="btn">New Medium</a>
	</div>
	<style>
		.tabular {
			/*background-color: rgba(255,255,255,0.5);*/
		}
		.tabular thead {
			font-weight: bold;
			font-size: 1.2em;
		}
		.tabular tr:nth-child(even) {
			background-color: rgba(200,200,200,0.5);
		}
		.tabular td {
			text-indent: 10px;
		}
		.tabular td > * {
			text-indent: initial;
		}
		.tabular .btn {
			margin: 0;
		}
	</style>
	<table class="grid-full tabular">
		<thead>
			<tr>
				<td>Source</td>
				<td>Name</td>
				<td>Description</td>
				<td></td>
			</tr>
		</thead>
		<tbody media>
			<tr ng-repeat="medium in media">
				<td>{{medium.src}}</td>
				<td>{{medium.name}}</td>
				<td>{{medium.description}}</td>
				<td>
					<a ng-href="/medium/{{medium.id}}" class="btn mini">Edit</a>
					<a ng-click="delete(medium)" class="btn mini">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>