<div ng-include="'/html/sub-header.html'"></div>

<table class="flush-full tabular">
	<tbody>
		<tr ng-repeat="post in list | orderBy:'url'">
			<td>
				{{post.title}}
			</td>
			<td>
				<a ui-sref="postEdit({id: post.id})" class="btn mini">✎</a>
				<a ng-click="remove(post)" class="btn mini">✖</a>
			</td>
		</tr>
		<tr ng-show="!list.length">
			<td colspan="2">
				No posts yet. <a ui-sref="postEdit({id: 'new'})">Click here to create one!</a>
			</td>
		</tr>
	</tbody>
</table>

<ui-view class="grid-12"></ui-view>
