
<div class="main-content" ng-class="{'flush-12': hasPanel(), 'flush-full': !hasPanel()}">
	<div ng-include="'/html/sub-header.html'"></div>
	<form name="page-form" ng-submit="savePage(page)" novalidate>
	  <div class="flush-7">
	    <a ui-sref="pageEdit.media" ng-hide="page.media[0]" class="grid-full media-select-btn">
	      <i class="icon-images"></i>
        <div>Add Media</div>
	    </a>
	    <div class="grid-full media-thumb" ng-show="page.media[0]">
	    	<a class="media-remove" ng-click="removeMedia()">✖</a>
    		<img ng-src="{{page.media[0].src}}" class="flush-full">
	    </div>
	  </div>
	  <div class="flush-13">
			<label for="name">
				<input type="text" id="name" ng-model="page.title" required="true">
				<span>Name</span>
			</label>
			<label for="isSearchable">
				<input type="checkbox" ng-model="page.isSearchable">
				<span>Searchable</span>
			</label>
			<label for="url" class="grid-full">
				<input type="text" id="url" ng-model="page.url" required="true">
				<span>URL</span>
			</label>
		</div>
		<label for="description" class="grid-full">
			<textarea id="description" ng-model="page.description" rows="5"></textarea>
			<span class="icon-left-circle">Description</span>
		</label>
		<label for="content" class="grid-full">
			<textarea id="content" ng-model="page.content" rows="20"></textarea>
			<span>Content</span>
		</label>
		<label for="url" ng-show="isAdmin">
			<input type="text" id="url" ng-model="page.templateUrl">
			<span>Template URL</span>
		</label>
		<label for="format">
			<select ng-model="page.format" id="format" required>
				<option value=""> --- Select a format --- </option>
				<option value="html">HTML</option>
				<option value="markdown">MarkDown</option>
			</select>
			<span>Type</span>
		</label>
    <div class="grid-full" ng-repeat="data in page.data">
      <label for="name{{$index}}" class="grid-half">
        <input type="text" id="name{{$index}}" ng-model="data.name" placeholder="Name">
      </label>
      <label for="value{{$index}}" class="grid-half">
        <input type="text" id="value{{$index}}" ng-model="data.query" placeholder="Query">
      </label>
    </div>

	  <div class="form-actions">
	    <button>Save</button><a ui-sref="pages" class="btn gray">Cancel</a>
	  </div>
	</form>
</div>

<div class="panel flush-8" ng-show="hasPanel()" ui-view></div>
