
<div ng-include="'/html/sub-header.html'"></div>

<form dropzone="mediaChange(medium, isAdded)" class="dropzone"></form>

<form name="page-form" ng-submit="savePage(page)" novalidate>
	<label for="name">
		<input type="text" id="name" ng-model="page.title" required="true">
		<span>Name</span>
	</label>
	<label for="isSearchable">
		<input type="checkbox" ng-model="page.isSearchable">
		<span>Searchable</span>
	</label>
	<label for="url" class="grid-full">
		<input type="text" id="url" ng-model="page.url" required="true">
		<span>URL</span>
	</label>
	<label for="description" class="grid-full">
		<textarea id="description" ng-model="page.description" rows="5"></textarea>
		<span class="icon-left-circle">Description</span>
	</label>
	<label for="content" class="grid-full">
		<textarea id="content" ng-model="page.content" rows="20"></textarea>
		<span>Content</span>
	</label>
	<label for="url" ng-show="isAdmin">
		<input type="text" id="url" ng-model="page.templateUrl">
		<span>Template URL</span>
	</label>
	<label for="type">
		<select ng-model="page.type" id="type" required>
			<option value=""> --- Select a type --- </option>
			<option value="html">HTML</option>
			<option value="markdown">MarkDown</option>
		</select>
		<span>Type</span>
	</label>

  <div class="form-actions">
    <button>Save</button><a href="/pages" class="btn gray">Cancel</a>
  </div>
</form>
