<div ng-include="'/html/sub-header.html'"></div>

<table class="flush-full tabular">
	<tbody>
		<tr ng-repeat="page in list | orderBy:'url'">
			<td>
				{{page.title}}
			</td>
			<td>
				<a ui-sref="pageEdit({id: page.id})" class="btn mini">✎</a>
				<a ng-click="remove(page)" class="btn mini">✖</a>
			</td>
		</tr>
		<tr ng-show="!list.length">
			<td colspan="2">
				No pages yet. <a ui-sref="pageEdit({id: 'new'})">Click here to create one!</a>
			</td>
		</tr>
	</tbody>
</table>

<ui-view class="grid-12"></ui-view>
