
<div class="main-content" ng-class="{'flush-12': hasPanel(), 'flush-full': !hasPanel()}">
  <div ng-include="'/html/sub-header.html'"></div>
  <form name="eventForm" ng-submit="saveEvent()" class="flex" novalidate>
    <div class="flush-7">
      <a ui-sref="eventEdit.media" ng-hide="event.media[0]" class="grid-full media-select-btn">
        <i class="icon-images"></i>
        <div>Add Media</div>
      </a>
      <img ng-src="{{event.media[0].src}}" class="grid-full">
    </div>
    <div class="flush-13">
      <label for="custom-name" class="grid-full">
        <input type="text" ng-model="event.name" placeholder="Custom Name">
        <span>Name</span>
      </label>
      <label for="entertainer" class="grid-full">
        <input type="text" ng-model="event.entertainer" placeholder="Entertainer" typeahead="entertainer for entertainer in getEntertainers($viewValue)"  typeahead-template-url="customTemplate.html">
        <span>Entertainer</span>
      </label>
      <label for="venue" class="grid-full" ng-show="venues.length > 1">
        <select id="venue" ng-model="event.venue" placeholder="Venue" ng-change="changeVenue()" ng-disabled="event.venue" ng-options="venue.id as venue.name for venue in venues" required>
          <option value="">Select Venue</option>
        </select>
        <span data-errormessage="You must enter a venue for the event">Venue</span>
      </label>
    </div>

    <label for="description" class="grid-full">
      <textarea type="text" id="description" ng-model="event.description" placeholder="Description" rows="5"></textarea>
      <span>Description</span>
    </label>

    <div id="showtimes" class="flush-half">

      <h3 class="grid-full">Showtimes</h3>
      <div class="showtime" ng-repeat="showtime in showtimes">
        <label for="date{{$index}}" class="grid-8" ng-class="{'no-pt': $index}">
          <input type="text" id="date{{$index}}" class="stDate" ng-model="showtime.date" placeholder="Date">
          <span ng-show="!$index">Date</span>
        </label>
        <label for="time{{$index}}" class="grid-8" ng-class="{'no-pt': $index}">
          <input type="text" id="time{{$index}}" ng-model="showtime.time" placeholder="Time" ng-blur="save(showtime, true)" required>
          <span ng-show="!$index">Time</span>
        </label>
        <label for="removeShowtime{{$index}}" class="grid-4">
          <button type="button" ng-click="removeShowtime(showtime)">✖</button>
        </label>
      </div>

    </div>
    <div class="flush-half">

    <h3 class="grid-full">Pricing</h3>
      <div sections class="mr ml">
        <label for="dos-price">
          <input type="text" ng-model="event.dayofshow" placeholder="5">
          <span>Day of show price increase</span>
        </label>
        <table class="grid-full" style="table-layout: fixed">
          <thead>
            <tr>
              <th>Filter</th>
              <th ng-repeat="section in event.venue.sections">{{section.name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="tier in event.pricingTiers">
              <td>
                <input type="text" ng-model="tier.filter" placeholder="Filter" ng-show="$index">
                <input type="text" ng-hide="$index" value="Default" disabled>
              </td>
              <td ng-repeat="section in tier.sections">
                <input type="text" ng-model="section.price" required>
              </td>
              <td>
                <button type="button" ng-click="removeTier($index)">✖</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flush-full">
      <button type="button" class="grid-half" ng-click="addShowtime(true)">Add Show</button>
      <button type="button" class="grid-half" ng-click="addTier()">Add Pricing Tier</button>
    </div>

    <hr class="grid-full">

    <label for="facebook" class="grid-half">
      <input type="text" ng-model="event.facebook" placeholder="">
      <span>Facebook Event Link</span>
    </label>

    <label for="video" class="grid-half">
      <input type="text" ng-model="event.video" placeholder="">
      <span>Video Link</span>
    </label>

    <label for="eventLink" class="grid-full">
      <input type="url" name="link" ng-model="event.link" id="eventLink" />
      <span>Link</span>
    </label>

    <label for="enabled">
      <input type="text" ng-model="event.enabled" placeholder="Now">
      <span>Enabled Date</span>
    </label>

    <div class="form-actions">
      <button>Save</button>
      <button>Save & Next</button><a ui-sref="pages" class="btn gray">Cancel</a>
    </div>
  </form>
</div>

<div class="panel flush-8" ng-show="hasPanel()" ui-view></div>

<script>
//         $(function(){
//             $(document).on('keyup keypress','#customTitle',function(){
//                 $('.entertainerEvent').remove();
//             }).on('change keypress keyup keydown','.showtime .stDate, .showtime .stTime',function(){
//                 var $parent = $(this).parents('.showtime'), $date = $parent.find('.stDate'), $time = $parent.find('.stTime'), $datetime = $parent.find('.datetime');
//                 $datetime.val($date.val() + ' ' + $time.val());
//                 console.log($datetime.val(), new Date($datetime.val()));
//             }).on('click','#addShowtime',function(){
//                 $(this).before($('#showtimes .showtime').first().clone());
//                 return false;
//             });
//             var showtimeCount = 0;
//         // $('.showtime').each(function(){
//         //     var name = 'showtime'+(++showtimeCount);
//         //     $(this).attr({name: name, id: name}).removeClass('showtime').parent('label').attr('for',name);
//         // });
// $.getJSON('/api/entertainers').success(function(entertainers){
//     var entertainerNames = [], entertainerMap = {};
//     $.each(entertainers,function(i,entertainer){
//         entertainer.credits = (entertainer.credits||'').replace(/[^a-z0-9-, ]/gi,'');
//         if(entertainer.name) entertainerNames.push(entertainer.name);
//         entertainerMap[entertainer.slug] = entertainer;
//     });

//     $('#entertainer').typeahead({
//         source:entertainerNames,
//         highlighter:function(name){
//             var item = entertainerMap[slugify(name)];
//             if(!item)return'';
//             var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g,'\\$&')
//             return '<img src="/media/entertainer/'+item.slug+'/thumb.jpg" class="grid-4"><span class="grid-16">'+item.name.replace(new RegExp('('+query+')','ig'),function($1,match){
//                 return '<u>'+match+'</u>'
//             })+'</span>';
//         },
//         updater:function(name){
//             $('.customEvent').remove();
//             var item = entertainerMap[slugify(name)];
//             $('#entertainerId').val(item.id);
//             $('#entertainerSlot').find('img').attr('src','/media/entertainer/'+item.slug+'/thumb.jpg');
//             $('#entertainerSlot').find('h2').text(item.name);
//             $('#entertainerSlot').find('h4').text(item.credits||item.description);
//             return item.name;
//         }
//     });
// });

// });
</script>
