<div ng-include="'/html/sub-header.html'"></div>

<table class="flush-full tabular" style="table-layout: fixed;">
	<tr ng-repeat="event in list">
		<td>{{event.name}}</td>
		<td>{{event.venue.name}}, {{event.venue.address.state}}</td>
		<td>{{event.range}}</td>
		<td>
			<a ui-sref="eventEdit({id:event.id})" class="btn mini">Edit</a>
			<a data-ng-click="remove(event)" class="btn mini">Delete</a>
		</td>
	</tr>
	<tr ng-show="!list.length">
		<td colspan="4">
			No events yet. <a ui-sref="eventEdit({id: 'new'})">Click here to create one!</a>
		</td>
	</tr>
</table>
