<<>ngHead>>

<header class="header" ng-controller="HeadCtrl">
	<a href="/" class="header_logo"></a>
	
	<label for="sites" ng-show="isAdmin" class="grid-4 fr no-pt">
		<select id="sites" ng-options="site.id as site.host for site in user.sites" ng-model="currentSite"  ng-change="setSite()" ng-show="!!user.sites.length">
			<option value="">--- Select a site ---</option>
		</select>
		<select id="sites" ng-options="site.id as site.host for site in sites" ng-change="setSite()" ng-model="currentSite" ng-show="isAdmin" sites>
			<option value="">--- Select a site ---</option>
		</select>
	</label>

	<label for="venues" ng-show="!!venues.length" class="grid-4 fr no-pt" venues>
		<select id="venues" ng-options="venue.id as venue.name for venue in venues" ng-change="changeVenue()" ng-model="currentVenue" ng-show="isAdmin">
			<option value="">--- Select a venue ---</option>
		</select>
	</label>
	<h2 class="grid-5 tr fr">{{header}}</h2>
</header>

<nav class="sidebar flush-4">
	<ul class="sidebar_nav">
		<li><a ui-sref="events">Events</a>
			<ul>
				<li><a ui-sref="entertainers">Entertainers</a></li>
			</ul>
		</li>
		<li><a ui-sref="media">Media</a></li>
		<!-- <a href="/products">Products</a> -->
		<!-- <a href="/profile">Profile</a> -->
		<li><a ui-sref="pages">Pages</a></li>
		<li>
			<a ui-sref="venues">Venues</a>
			<ul>
				<li><a ui-sref="sections">Sections</a></li>
			</ul>
		</li>
		<li><a ui-sref="sites">Sites</a>
			<ul>
				<li><a ui-sref="subscribers">Subscribers</a></li>
			</ul>
		</li>
	</ul>
</nav>
<div ui-view class="body-content"></div>

<<>foot>>
