<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>

    [[>meta]]
    <base href="/">
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/vendor/dropzone/dist/min/dropzone.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="splash" ng-cloak>
    	<div class="spinner">
    		<span class="spinner__dot"></span>
    		<span class="spinner__dot"></span>
    		<span class="spinner__dot"></span>
    	</div>

      <form ng-submit="login()" class="login_form">
        <img src="/img/logo-white.svg" class="login_logo">
        <label for="username" class="grid-full">
          <input type="text" ng-model="user.email" placeholder="Username/Email">
        </label>
        <label for="password" class="grid-full">
          <input type="password" ng-model="user.password" placeholder="Password">
        </label>
        <button class="grid-full login_button">Login</button>
        {{routeChange}}
      </form>
    </div>

    <div ng-controller="MainCtrl">
    	<nav class="sidebar" ng-class="{'sidebar-expanded' : showSidebar}">
    		<a ui-sref="home" class="sidebar_logo"></a>
    		<ul class="sidebar_nav">
    			<li class="menu-toggle"><a ng-click="toggleSidebar()">Hide Menu<i class="icon-arrow-right2"></i></a></li>

    			<li ng-show="isAdmin"><a ui-sref="events">Events<i class="icon-ticket"></i></a></li>
    			<li><a ui-sref="entertainers">{{ (isAdmin || getSite(currentSiteId).type != 'entertainer') ? 'Entertainers' : 'Profile' }}<i class="icon-user-tie"></i></a></li>
    			<li><a ui-sref="media">Media<i class="icon-images"></i></a></li>
    			<li><a ui-sref="pages">Pages<i class="icon-files-empty"></i></a></li>
    			<li><a ui-sref="posts">Posts<i class="icon-files-empty"></i></a></li>
    			<li ng-show="isAdmin"><a ui-sref="venues">Venues<i class="icon-location2"></i></a></li>
    			<li><a ui-sref="testimonials">Testimonials<i class="icon-users"></i></a></li>
    			<li><a ui-sref="contactMessages">Messages<i class="icon-file-text"></i></a></li>
    			<li><a ui-sref="siteEdit({id: currentSiteId})">Site<i class="icon-users"></i></a></li>
    			<li><a ui-sref="subscribers">Subscribers<i class="icon-file-text"></i></a></li>
    			<li ng-show="isAdmin"><a ui-sref="paymentInfo">Payment Info <i><b>$</b></i></a></li>
    		</ul>
    	</nav>
    	<div class="body-content" ng-class="{'a250': !routeChange, 'sidebar-expanded' : showSidebar}">
    		<header class="header">
    			<div class="header-bar">
    				<div class="site-select">
    					<label for="sites" class="fr no-pt select-wrapper" ng-show="sites.length > 1">
    						<select class="select" id="sites" ng-options="site.id as site.host for site in sites | orderBy:'host'" ng-change="setSite(currentSiteId)" ng-model="currentSiteId">
    						</select>
    					</label>
    				</div>
    				<div class="user" ng-show="user.email">
    					<img ng-src="{{user.image}}" src="/img/default-profile.png" class="user_image">
    					<b class="user_name">{{user.email}}</b><br>
    					<a ui-sref="entertainer">Profile</a> |
    					<a href="/logout" target="_self">Sign Out</a>
    				</div>
    			</div>
    		</header>
    		<div ui-view></div>
    	</div>
    </div>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/vendor/angular-resource/angular-resource.min.js"></script>
    <script src="/vendor/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/vendor/moment/min/moment.min.js"></script>
    <script src="/vendor/fullcalendar/dist/fullcalendar.min.js"></script>

    <script src="http://test.flexsites.io/ng/sdk.js"></script>
    <script src="/ng/app.js"></script>
    <script src="/ng/SiteInterceptor.js"></script>
    <script src="/ng/routes.js"></script>
    <script src="/ng/MainCtrl.js"></script>
    <script src="/ng/ListCtrl.js"></script>
    <script src="/ng/LoginCtrl.js"></script>
    <script src="/ng/PageCtrl.js"></script>
    <script src="/ng/VenueCtrl.js"></script>
    <script src="/ng/SiteCtrl.js"></script>
    <script src="/ng/SidebarCtrl.js"></script>
    <script src="/ng/DashboardCtrl.js"></script>
    <script src="/ng/DropzoneDirective.js"></script>
    <script src="/ng/EventCtrl.js"></script>
    <script src="/ng/MediumCtrl.js"></script>
    <script src="/ng/MediaSelectCtrl.js"></script>
    <script src="/ng/PostCtrl.js"></script>
    [[>analytics]]
  </body>
</html>
